.container {
  margin: 60px;
  padding: 20px;
}
.container-flex {
  background-color: #ededed;
}
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/services-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}
.background-img-text {
  text-align: center;
  color: white;
}
.card {
  margin: 20px;
  text-align: center;
}
.card:hover {
  box-shadow: 0 40px 60px -20px #969090;
  z-index: 100;
  opacity: 0.8;
}
.card:hover .card-title {
  color: #89cff0;
}
.col-md-4 {
  padding-bottom: 60px;
}
.btn {
  color: #89cff0;
}
