 * {
   font-family: 'Ubuntu', sans-serif;

  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  /* Book Section  */
  .book {
    margin-bottom:80px;
  }
  .logo {
    height: 100px;
  }
  .nav-link {
    color: #080705;
    text-transform: uppercase;
  }
  .nav-link:hover{
    color: #001B94;
  }
  .header-book {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/book-img-header.jpg);
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position:center;
    padding: 80px;
  }
  .jumbotron {
    margin-bottom: 80px;
  }
.info {
  display: flex;
  justify-content: space-between;
}
.info-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #001B94;
  color:#A2ADA5;
  width: 100px;
  padding: 5px;
}
.vertical {
  border-left: 1px solid #080705;
  height: 250px;
  position: absolute;
  left: 47%;
}
.flex-info {
  height: 250px;

}
.flex-info-body {
  display: flex;
  flex-direction: column;
}
.flex-comm-body {
  display: flex;
  flex-direction: column;
}
.bi-book {
  font-size: 50px;
  line-height: 2;
  color: #001B94;
}
.how-it-works {
  margin-bottom: 80px;
}
