 * {
   font-family: 'Ubuntu', sans-serif;

  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  /* Book Section  */
  .book {
    margin-bottom:80px;
  }
  .logo {
    height: 100px;
  }
  .nav-link {
    color: #080705;
    text-transform: uppercase;
  }
  .nav-link:hover{
    color: #001B94;
  }
  .navbar {
    margin-bottom: 0;
  }
  .header-book {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/book-img-header.jpg);
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position:center;
  }
  .header-book h1 {
    color: white;
    padding-top: 80px;
  }
  .header-book p {
    color: white;
  }
.info {
  display: flex;
  justify-content: space-evenly;
}
.info-btn {
  margin-bottom: 20px;
  background: none;
  color: #080705;
  width: 100px;
  padding:5px;
  align-self: center;
  border: 1px solid #89CFF0;
}
.info-btn:hover {
  background: #89CFF0;
  border: 1px solid #080705;
}
.flex-info {
  height: 400px;
}
.flex-info-body {
  display: flex;
  flex-direction: column;
  background: #ededed;
}
.bi-book {
  font-size: 50px;
  line-height: 2;
  color: #89CFF0;
}
.how-it-works {
  margin-bottom: 80px;
  background: #ededed;
  padding:40px;
  color: #080705;
}
.communication {
  margin-top: 20px;
}
/* footer  */
.footer {
  background: #ededed;
  padding-top: 50px;
}
.footer-link {
  list-style: none;
  color: #080705;
  line-height: 2;
}
.footer-img {
  text-align: center;
}
.bi-footer {
  font-size: 20px;
  color: #89CFF0;
  margin-right:20px;
}
.bi-footer span {
  color: #080705;
}
&copy {
  align-items: right;
}
.footer-end {
  display: flex;
  justify-content: space-evenly;
}