
/* BEGINNING OF SERVICE PAGE CSS */
.container {
  padding: 20px;
}
.background-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/services-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}
.background-img-text {
  padding-top: 110px;
  text-align: center;
  color: white;
}
.btn {
  border: 2px solid rgb(0, 183, 255);
  color: white;
}
.services-link {
  color: rgb(0, 183, 255);
}
.services-link:hover {
  color: rgb(0, 183, 255);
}
/* SERVICE CARDS STYLES */
.card {
  margin: 20px;
  text-align: center;
}
.card:hover {
  box-shadow: 0 40px 60px -20px #969090;
  z-index: 100;
  opacity: 0.9;
}
.card:hover .card-title {
  color: rgb(0, 183, 255);
}
.col-md-4 {
  padding-bottom: 60px;
}
.btn {
  color: rgb(0, 183, 255);
}
/* END OF SERVICE PAGE CSS */

 * {
   font-family: 'Ubuntu', sans-serif;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  /* Book Section  */
  .book {
    margin-bottom:80px;
  }
  .header-book {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/book-img-header.jpg);
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position:center;
  }
  .header-book h1 {
    color: white;
    padding-top: 80px;
  }
  .header-book p {
    color: white;
  }
/* .info {
  display: flex;
  justify-content: space-evenly; */

.info-btn {
  margin-bottom: 10px;
  background: white;
  width: 100px;
  padding:5px;
  align-self: center;
  border: 2px solid rgb(0, 183, 255);
  margin-top: 20px;
}
.info-btn:hover {
  border: 2px solid rgb(0, 183, 255);
  color:rgb(0, 183, 255);
}
/* .flex-info {
  /* height: 200px; */
/* } */ 
.flex-info-body {
  border: 1px solid rgb(0, 183, 255);
}
 /* How it works  */
.bi-book {
  font-size: 50px;
  line-height: 2;
  color: rgb(0, 183, 255);
}
.book-title {
  color: rgb(0, 183, 255);
}
.how-it-works {
  margin-bottom: 80px;
  background: #d0d0d0;
  padding:40px;
  color: #080705;
}
/* Print Message  */
.message {
  border: 1px solid rgb(0, 183, 255);
}
.message-text {
  font-weight: bold;
  text-align: center;
}
.info-col1 input{
  margin-bottom: 20px;
}
.info-col2 input {
  margin-bottom: 20px;
}

/* footer  */
.footer{
  margin-top: 80px;
  background: #d0d0d0;
  padding-top: 30px;
}
.footer-link {
  list-style: none;
  color: #080705;
  line-height: 2;
}
.footer-img {
  text-align: center;
}
.bi-footer {
  font-size: 25px;
  color: rgb(0, 183, 255);
  margin-right:20px;
}
.bi-footer span {
  color: #080705;
}
.copy{
  display: flex;
  justify-content: center;
}
.footer-contact {
  margin-bottom: 40px;
}
.btn-footer-message{
  margin-top: 20px;
}
.form-message {
  width:300px;
}

/* payment  */
.payment-title{
  color: rgb(0, 183, 255);
  margin-top: 80px;
}
.payment {
  display: none;
}
.bi-payment {
  font-size: 50px;
  color: rgb(0, 183, 255)
}
.card-pay {
  border: 1px solid rgb(0, 183, 255);
  padding: 20px;
}
.pay {
  border: 2px solid rgb(0, 183, 255);
  padding:5px;
  width: 2cm;
  background: white;
}
.pay:hover {
  color: rgb(0, 183, 255);
  border: 2px solid rgb(0, 183, 255);
}
.paymentname {
  margin-top: 20px;
}
.pname {
  margin-bottom: 20px;
}
.emailaddress {
  margin-bottom: 20px;
}
.modepayment {
  margin-bottom: 20px;
}
.paymentconfirm {
  padding: 5px;
  background: white;
  border: 2px solid rgb(0, 183, 255);
}
.paymentconfirm:hover {
  color: rgb(0, 183, 255);
  border: 2px solid rgb(0, 183, 255);
}
/* END OF APPOINTMENT CSS  */
